<footer>

    <p>&copy; 2025 Góc Setup - Setup bàn làm việc của bạn</p>
    <p>Liên hệ: <a style="text-decoration:none;color: #f4f4f4;" href="mailto:contact@gocsetup.com">duchuymai1912@gmail.com</a></p>
    <p>Theo dõi chúng tôi trên: 
        <a style="text-decoration:none;color: #f4f4f4;" href="https://www.facebook.com/" target="_blank">Facebook</a> | 
        <a style="text-decoration:none;color: #f4f4f4;" href="https://instagram.com/gocsetup" target="_blank">Instagram</a> | 
        <a style="text-decoration:none;color: #f4f4f4;" href="https://twitter.com/gocsetup" target="_blank">Twitter</a>
    </p>
    <p><a style="text-decoration:none;color: #f4f4f4;" href="/terms">Điều khoản dịch vụ</a> | <a style="text-decoration:none;color: #f4f4f4;" href="/privacy">Chính sách bảo mật</a></p>
</footer>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<!-- <script>
    document.addEventListener("DOMContentLoaded", function () {
        const urlParams = new URLSearchParams(window.location.search);
        if (urlParams.has("category")) {
            setTimeout(() => {
                document.getElementById("shop-container").scrollIntoView({ behavior: "smooth", block: "start" });
            }, 300); // Đợi một chút để trang tải xong rồi mới cuộn
        }
    });
</script> -->

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const urlParams = new URLSearchParams(window.location.search);
        if (urlParams.has("q")) {
            document.getElementById("search-box").scrollIntoView({ behavior: "smooth", block: "start" });
        }
    });
</script>

</body>

</html>