<%- include('partials/admin-header.ejs'); -%>
    <style>

    </style>
    <main class="admin-main">
        <h1>Xin chào, <%= user.display_name %>!</h1>
    </main>

<%- include('partials/admin-footer.ejs'); -%>
